<mat-toolbar color="primary" role="heading">
    <button type="button" aria-label="nyaantagram" mat-icon-button>
    <mat-icon>menu</mat-icon>
    </button>

    <span>Nyaantagram</span>
    <div>
            <!--
            <a href="#" mat-button>Products</a>
            <a href="#" mat-button>Cagegories</a>
            <a href="#" mat-button>Posts</a>
            <a href="#" mat-button>Dashboards</a>
            -->

            <mat-icon matBadge="22" matBadgeSize="large" matBadgeColor="accent">email</mat-icon>
            <a routerLink="/post" mat-button><mat-icon>favorite</mat-icon></a>
            <a routerLink="/register" mat-button><mat-icon>grade</mat-icon></a>
            <a routerLink="/login" mat-button><mat-icon>email</mat-icon></a>
            <a routerLink="/" mat-button><mat-icon>home</mat-icon></a>
            <a routerLink="/" mat-button><mat-icon>dashboard</mat-icon></a>
            <a routerLink="/" mat-button><mat-icon>face</mat-icon></a>
    </div>
</mat-toolbar>
