<mat-toolbar color="primary" role="heading">
    <button type="button" aria-label="nyaantagram" mat-icon-button>
    <mat-icon>menu</mat-icon>
    </button>

    <span>Nyaantagram</span>
    <div>
            <!--
            <a href="#" mat-button>Products</a>
            <a href="#" mat-button>Cagegories</a>
            <a href="#" mat-button>Posts</a>
            <a href="#" mat-button>Dashboards</a>
            -->

            <mat-icon matBadge="22" matBadgeSize="large" matBadgeColor="accent">email</mat-icon>
            <a routerLink="/post" mat-button><mat-icon>favorite</mat-icon></a>
            <a routerLink="/register" mat-button><mat-icon>grade</mat-icon></a>
            <a routerLink="/login" mat-button><mat-icon>email</mat-icon></a>
            <a routerLink="/" mat-button><mat-icon>home</mat-icon></a>
            <a routerLink="/" mat-button><mat-icon>dashboard</mat-icon></a>
            <a routerLink="/" mat-button><mat-icon>face</mat-icon></a>
    </div>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>



<mat-grid-list cols="12">

    <mat-grid-tile colspan="12">

        notifications

              </mat-grid-tile>

    <mat-grid-tile colspan="3">

<mat-nav-list style="width: 100%;">
    <mat-list-item>Todo List</mat-list-item>
    <mat-list-item> Salt </mat-list-item>
    <mat-list-item> Paprika </mat-list-item>
   </mat-nav-list>



</mat-grid-tile>

<mat-grid-tile colspan="9">

    <section class="mat-typography title-group">
        <h1>Heading Goes Here</h1>
        <mat-divider></mat-divider>
      </section>

<div>
<mat-button-toggle-group>
    <mat-button-toggle value="Add">Add</mat-button-toggle>
    <mat-button-toggle value="Add">Edit</mat-button-toggle>
    <mat-button-toggle value="Add">Delete</mat-button-toggle>
    <mat-button-toggle value="Add">List</mat-button-toggle>
</mat-button-toggle-group>
</div>
<br />




    <mat-tab-group style="width: 100%;">


        <mat-tab label="First">













        </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>
      </mat-grid-tile>

</mat-grid-list>
